<%- include('../templates/navbar') -%>

  <div class="container-fluid mt-3">
    <div class="jumbotron">
         <h3>Example Express OOP and MVC Architecture</h3>

        <ul class="navbar-nav mt-3 mx-auto">

          <li class="nav-item">
            <p class="lead font-weight-light"><strong>Express.js</strong> adalah satu web framework paling populer di dunia <strong>Node.js</strong>. Dokumentasinya yang lengkap dan penggunaannya yang cukup mudah, dapat membuat kita mengembangkan berbagai produk seperti aplikasi web ataupun <strong>RESTful API. Express.js </strong> pun dapat digunakan menjadi pijakan untuk membangun <Strong>web framework</strong> yang lebih kompleks seperti, <strong> Sails.js, MEAN (MongoDB, Express.js, Angular.js, Node.js) dan MERN (MongoDB, Express.js, React.js, Node.js) . Express.js dibuat oleh TJ Holowaychuk dan sekarang dikelola oleh komunitas</strong>.
            </p>
          </li>

          <li class="nav-item">
          <p class="lead font-weight-light"><strong>Model-View-Controller</strong> atau <strong>MVC</strong> adalah sebuah metode untuk membuat sebuah aplikasi dengan memisahkan data <strong>(Model)</strong> dari tampilan <strong>(View)</strong> dan cara bagaimana memprosesnya <strong>(Controller)</strong>. Dalam implementasinya kebanyakan kerangka kerja <strong>(framework)</strong> dalam aplikasi web adalah berbasis arsitektur <strong>MVC</strong>, <strong>MVC</strong> memisahkan pengembangan aplikasi berdasarkan komponen utama yang membangun sebuah aplikasi seperti manipulasi data, antarmuka pengguna, dan bagian yang menjadi kontrol dalam sebuah aplikasi web</p>
          </li>

          <li class="nav-item">
          <p class="lead font-weight-light"><strong>OOP (Object Oriented Programming)</strong> adalah suatu metode pemrograman yang berorientasi kepada objek. Tujuan dari <strong>OOP</strong> diciptakan adalah untuk mempermudah pengembangan program dengan cara mengikuti model yang telah ada di kehidupan sehari-hari. Jadi setiap bagian dari suatu permasalahan adalah objek, nah objek itu sendiri merupakan gabungan dari beberapa objek yang lebih kecil lagi.</p>
          </li>
        </ul>

    </div>
  </div>

<%- include('../templates/footer') -%>